@model IEnumerable<flightclientapp.Models.CombinedView>

@{
    ViewData["Title"] = "CombinedView";
}

<h1>All Bookings</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                Booking ID
            </th>
            <th>
                Passenger Name
            </th>
            <th>
                Airlines
            </th>
            <th>
                Source
            </th>
            <th>
                Destination
            </th>
            <th>
                Booking Date
            </th>
            <th>
                Number of Passengers
            </th>
            <th>
                Total Amount Paid
            </th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfPass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            @* <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td> *@
        </tr>
}
    </tbody>
</table>
